*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    color: black
}

nav{
    background-color: grey;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    text-decoration: none;
}

.containers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #a1a1a1;
}

.containers .container{
    width:50px;
    height:50px;
}